* {
    margin: 0px;
    padding: 0px; 
}

/*TODO: backup font*/
body, #container, #grid, #multiplyMask {
    background-color: #e2e2e0;
}

@font-face {
    font-family: 'futura-medium';
    src: url('font/futurastd-medium.woff2') format('woff2'),
         url('font/futurastd-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura-book';
    src: url('font/futurastd-book.woff2') format('woff2'),
         url('font/futurastd-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*#container {
    width: 825px;
    margin: auto;
    padding-top: 120px;
}*/

#lobby {
    /*display: none;*/
    /*z-index: 3;*/
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #e2e2e0;
}

#loader {
    position: absolute;

    width: 30px;
    height: 30px;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
}

#spinner {
    animation: spin 1s infinite;
    animation-timing-function: cubic-bezier(.41,.62,.24,.99);

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
}


.clear {
    position: relative;
    float: right;
    width: 20px;
    height: 20px;
    background-color: #404040;
    border-radius: 50%;
    padding: 8px;
    margin: 30px;
    cursor: pointer;

}

/*.clear {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #404040;
    border-radius: 50%;
    padding: 6px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    cursor: pointer;

}*/

#container {
    /*background-color: blue;*/
    width: 825px;
    height: 540px;
    /*padding-top: 30px;*/

    position: absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
}

#grid {
    /*background-color: blue;*/
    /*border-top: 5px solid #eeeeec;*/
    width: 825px;
    text-align: center;
    /*padding: 70px 0px 0px 0px;*/
    padding: 0px;
}



.beat {
    display: inline-block;
    background-color: #404040;
    border-radius: 50%;
    width: 3px;
    height: 3px;
    margin: 20px;
    cursor: pointer;
    padding: 4px;
    background-clip: content-box;
    transition: transform .1s cubic-bezier(.8, 0, .2, 1);
    animation-duration: .1s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: steps(1.5);
}

#menu {
    /*background-color: red;*/
    margin-top: 50px;
    padding-right: 25px;
    padding-left: 25px;
    /*height: 200px;*/
}

/*TODO: all font-family in one*/
.loop, .drums, .keyboard, #logo {
    /*background-color: red;*/
    float: left;
    padding: 8px 0px 0px 0px;
    width: 24%;
    height: 130px;
    font-family: 'futura-medium';
    font-size: 17px;
    letter-spacing: .5px;
    color: #404040;
}

#logo {
    padding: 0px;
    font-size: 25px !important;
    width: 28%;
}

ul {
    /*background-color: red;*/
    padding-top: 10px;
    font-family: 'futura-medium', sans-serif;
    font-size: 14px;
    font-weight: normal;
    list-style: none;
    line-height: 25px;
    cursor: pointer;
}

u {
    text-decoration: none;
    border-bottom: 2px solid #636363;
    margin-left: 23px;
}

.beat:hover {
    transform: scale(5);
    background-color: #404040;
}

.beat.on {
    transform: scale(5);
    background-color: #404040;
    box-shadow: 0px 1px 1px #d9d9d9;
}
 
.beat.on.step {
    box-shadow: 0px 1px 1px #d9d9d9;
    transform: scale(12);
}

.step {
    background-color: transparent;
}

.radio {
    display: inline-block;
    /*float: left;*/
    opacity: 0;
    margin: 0px 17px 3px 0px;

    background-color: #404040;
    border-radius: 50%;
    width: 6px;
    height: 6px;
}

li:hover > .radio, .radio.on {
    opacity: 1;
}

/*.triangle {
    opacity: 0;
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 4px solid transparent;
    border-left: 7px solid #404040;
    border-bottom: 4px solid transparent;
    margin: 0px 15px 2px 0px;
}*/

@keyframes blink {
    0% { opacity: 0;}
    50% { opacity: 1; }
    100% { opacity: 0; }
}

/*li:hover > .triangle, .triangle.on {
    opacity: 1;
}*/


/*Animation*/

#animations {
    /*background-color: yellow;*/
    visibility: hidden;
    position: absolute;
    top: 0px;
    width: 825px;
}

#multiplyMask {
    /*background-color: green;*/
    position: absolute;
    top: -150px;
    width: 825px;
    height: 150px;
}

#waveA1, #waveA2 {
    z-index: 2;
    position: absolute;
    top: 95px;
}

#waveB1, #waveB2 {
    z-index: 2;
    position: absolute;
    top: 58px;
}

#waveC1, #waveC2{
    z-index: 2;
    position: absolute;
    top: 80px;
}

#circleGray {
    z-index: 1;
    position: relative;
    /*top: 80px;*/
    top: -40px;
    width: 410px;
    height: 410px;
    border-radius: 50%;
    background-color: #eee;
    mix-blend-mode: multiply;
    left: 0;
    right: 0;
    margin: 0 auto;
}


/*1: top: 100px, left: 530px*/
/*2: top: 520px, left: 170px*/
/*3: top: 415px, left: 220px*/
/*4: top: 35px, left: 15px*/
/*5: top: 400px, left: 515px*/
/*6: top: 510px, left: 630px*/
/*7: top: 100px, left: 155px*/
/*8: top: -25px, left: 575px*/
/*9: top: 280px, left: 100px*/
/*10: top: 280px, left: 580px*/

#circleOrange {
    z-index: 1;
    position: absolute;
    top: -20px;
    left: 530px;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    background-color: #d76e20;
    mix-blend-mode: multiply;
}

#baton {
    z-index: 1;
    position: absolute;
    top: -67px;
    left: 0;
    right: 0;
    margin: 0 auto;
}


/*Modal*/


.overlay {
    display: none;
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, .25);
}

.modal {
    position: absolute;
    width: 300px;
    height: 135px;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    font-family: 'futura-medium';
    color: #404040;
    text-align: center;
    line-height: 40px;

    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
}

.got-it {
    position: relative;
    width: 70px;
    height: 28px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #404040;
    font-size: 12px;
    color: #fff;
    font-family: 'futura-medium';
    cursor: pointer;
    outline: none;

    border-radius: 50px; 
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px; 
    border: none;

    transition: background-color .1s ease-out;
}


.got-it:hover {
    background-color: #e6e6e6;
}

h1 {
    font-size: 16px;
    font-weight: normal;
}

h2 {
    font-size: 14px;
    color: gray;
    font-weight: normal;
}

