* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=PT+Mono');

@font-face {
  font-family: 'sofiapro-light';
  src: url('font/sofiapro-light.woff2') format('woff2'),
    url('font/sofiapro-light.woff') format('woff');
}

@font-face {
  font-family: 'sofiapro-book';
  src: url('font/sofiapro-book.woff2') format('woff2'),
    url('font/sofiapro-book.woff') format('woff');
}

body,
#grid,
#lobby,
#container,
#on-mobile,
#multiply-mask {
  background-color: #ececec;
}

/* center elements */
.modal,
#loader,
#container,
#splash,
#on-mobile {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#container {
  width: 835px;
  height: 580px;
}

#multiply-mask {
  position: absolute;
  width: 835px;
  height: 120px;
  top: -120px;
}

/**
 * Loader
 */
#lobby {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#loader {
  position: absolute;
  width: 220px;
  height: 120px;
  text-align: center;
}

.loader-text {
  background-color: white;
  padding: 15px;
  margin-top: 25px;
  border-radius: 5px;
  font-family: 'sofiapro-light', sans-serif;
  font-size: 13px;
  color: #7f7f7f;
  -webkit-animation: fadeText 1s ease-in;
  animation: fadeText 1s ease-in;
}

.loader-text.mobile {
  margin-top: 50px;
  padding: 30px;
  font-family: 'sofiapro-light', sans-serif;
  font-size: 200%;
}

@-webkit-keyframes fadeText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#on-mobile {
  display: none;
  position: absolute;
  width: 80%;
  height: 20%;
  text-align: center;
}

#spinner {
  -webkit-animation: spin 0.4s linear infinite;
  animation: spin 0.4s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/**
 * Counter
 */
.count-div {
  height: 40px;
  padding: 0px;
  font-family: 'PT Mono', monospace;
  font-size: 16px;
  /* color: #989898; */
  color: #8A8484;
}

.count-div > * {
  display: inline-block;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.count:nth-child(1) {
  margin-left: 19px;
  margin-right: 178px;
}

.count:nth-child(2),
.count:nth-child(3) {
  margin-right: 179px;
}

.count:nth-child(4) {
  margin: 0;
}

.count.on {
  color: transparent;
}

/**
 * Grid
 */
#grid {
  width: 835px;
}

.beat {
  display: inline-block;
  position: relative;
  /* background-color: #989898; */
  background-color: #8A8484;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin: 19px;
  padding: 5px;
  cursor: pointer;
  background-clip: content-box;
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
}

.beat:hover {
  -webkit-transform: scale(4);
  transform: scale(4);
  background-color: #1A1A1A;
}

.beat.on {
  -webkit-transform: scale(4);
  transform: scale(4);
  background-color: #1A1A1A;
  -webkit-box-shadow: 0px 1px 2.5px 0.5px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 1px 2.5px 0.5px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 1px 2.5px 0.5px rgba(0, 0, 0, 0.04);
}

.beat.on.step {
  -webkit-transform: scale(10);
  transform: scale(10);
  background-color: #1A1A1A;
}


/**
 * Menu
 */
#menu {
  margin-top: 40px;
  padding-right: 25px;
  padding-left: 22px;
  height: 150px;
}

/*TODO: all font-family in one*/
.loop,
.drums,
.keyboard {
  display: flex;
  align-items: flex-end;
  float: left;
  width: 22.6%;
  height: 100%;
  font-family: 'sofiapro-book', sans-serif;
  color: #000;
}

.logo {
  position: relative;
  float: left;
  font-family: 'sofiapro-book', sans-serif;
  width: 32%;
  padding: 0px;
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #000;
  height: 100%;
}

.control {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: 'sofiapro-book', sans-serif;
  font-size: 16px;
  /* color: #676767; */
  color: #746C6C;
  width: 120px;
  /* border-bottom: 4px solid #aeaeae; */
}

.control > a {
  /* margin-bottom: 15px; */
  margin: 5px 0;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

a:hover {
  color: #919191;
}

ul {
  font-size: 16px;
  list-style: none;
  line-height: 30px;
  cursor: pointer;
}

li {
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

li:hover:not(.play) {
  color: #828080;
}

u {
  text-decoration: none;
  border-bottom: 2px solid #636363;
  margin-left: 23px;
}

.radio {
  display: inline-block; /*remove? span is default inline apparently*/
  /*position: relative;*/
  background-color: #000;
  width: 6px;
  height: 6px;
  margin: 0 17px 3px 0;
  vertical-align: middle;
  border-radius: 50%;
  opacity: 0;
}

.radio.on {
  opacity: 1;
}

@-webkit-keyframes hoverFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes hoverFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/**
 * Animations
 */
#animations {
  visibility: hidden;
  position: absolute;
  width: 835px;
  top: 55px;
}

#wave-a1,
#wave-a2 {
  z-index: 1;
  position: absolute;
  top: 85px;
  opacity: 0;
}

#wave-b1,
#wave-b2 {
  z-index: 1;
  position: absolute;
  top: 48px;
  opacity: 0;
}

#wave-c1,
#wave-c2 {
  z-index: 1;
  position: absolute;
  top: 70px;
  opacity: 0;
}

#gray-circle {
  position: relative;
  background-color: #eee;
  width: 410px;
  height: 410px;
  top: -60px;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  mix-blend-mode: multiply;
}

/**
 *  orange circle positions:
 *  1: top: 100px, left: 530px
 *  2: top: 520px, left: 170px
 *  3: top: 415px, left: 220px
 *  4: top: 35px, left: 15px
 *  5: top: 400px, left: 515px
 *  6: top: 510px, left: 630px
 *  7: top: 100px, left: 155px
 *  8: top: -25px, left: 575px
 *  9: top: 280px, left: 100px
 *  10: top: 280px, left: 580px
 */
#orange-circle {
  position: absolute;
  background-color: #e36c14;
  width: 165px;
  height: 165px;
  top: -30px;
  left: 530px;
  border-radius: 50%;
  mix-blend-mode: multiply;
}

#baton {
  position: absolute;
  top: -77px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/**
 * Fading
 */
.fadeIn {
  opacity: 1;
  -webkit-animation: fadeIn 0.5s forwards linear;
  animation: fadeIn 0.5s forwards linear;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  opacity: 0;
  -webkit-animation: fadeout 0.5s forwards linear;
  animation: fadeout 0.5s forwards linear;
}

.fadeOutLobby {
  opacity: 0;
  -webkit-animation: fadeout 0.2s forwards linear;
  animation: fadeout 0.2s forwards linear;
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/**
 * Modal
 */
#overlay {
  z-index: 3;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.modal {
  position: absolute;
  background-color: #fff;
  width: 300px;
  height: 135px;
  border-radius: 10px;
  padding: 15px;
  font-size: 14px;
  font-family: 'sofiapro-book', sans-serif;
  color: #000;
  text-align: center;
  line-height: 40px;
  -webkit-animation: showModal 0.2s ease-in;
  animation: showModal 0.3s ease-in;
}

.modal > h2 {
  font-family: 'sofiapro-light', sans-serif;
  color: #7f7f7f;
  font-size: 13px;
}

@-webkit-keyframes showModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.got-it {
  position: relative;
  background-color: #000;
  width: 70px;
  height: 28px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  color: #fff;
  font-family: 'sofiapro-book', sans-serif;
  cursor: pointer;
  outline: none;
  border-radius: 50px;
  border: none;
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}

.got-it:hover {
  background-color: #e6e6e6;
}

h1 {
  font-size: 16px;
  font-weight: normal;
}

h2 {
  font-size: 14px;
  color: gray;
  font-weight: normal;
}
